.login_div {
  max-width: 420px;
  margin: 130px auto 96px auto;
  padding: 24px;
  background: #003b5c;
  border-radius: 12px;
  /* border: #a1191e solid 3px; */
    box-shadow: 0 0 10px black;
  text-shadow: 0 0 5px black;
}


.login_h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login_input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.login_btn {
  padding: 12px;
  background-color: #cb2c30;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login_btn:hover {
  background-color: #a1191e;
}

.login_error {
  color: red;
  text-align: center;
  font-size: 18px;
}

.login_success {
  color: green;
  text-align: center;
  font-size: 18px;
}

.login_switch_div{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.login_switch_h3{
  color: white;
}

.login_h2_verificado{
  text-align: center;
  color: white;
}