.section_reservas{
    padding: 140px 20px 70px 20px;
    background: #003b5c;
    color:white;
    text-shadow: 0 0 5px black;
}

.cancelacion_reservas{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
	border: #a1191e solid 3px;
    padding: 20px 30px;
    box-shadow: 0 0 10px black;
}

.h2_cancelacion_reservas{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.p_cancelacion_reservas{
    font-size: 20px;
    font-weight: 500;
}


@media(max-width: 900px){
.cancelacion_reservas{
    width: 80%;
}
.section_reservas{
    padding: 100px 20px 40px 20px;
}
}