.section_tarifas{
    padding: 140px 20px 70px 20px;
    background: #003b5c;
    color:white;
    text-shadow: 0 0 5px black;
}

.div_h1_tarifas{
    max-width: 500px;
    margin: 0 auto 100px auto;
    display: flex;
    flex-direction: column;
	border: #a1191e solid 3px;
    padding: 20px 30px;
    gap: 20px;
    box-shadow: 0 0 10px black;
}

.h1_tarifas{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.h1_tarifas_horario{
    margin-bottom: 20px;
}

.div_tarifas{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    background: lightblue;
}

.div_div_tarifas{
flex: 1;
display: flex;
flex-direction: column  ;
align-items: center;
width: 100%;

}

.div_tarifas:before {
  align-self: stretch;
  content: '';
  border: 1px solid #a1191e;
  box-shadow: 0 0 5px black;
}
.div_tarifas .div_div_tarifas:first-child {
  order: -1;
}

.h2_tarifas{
    text-align: center;
    margin-bottom: 35px;
    font-size: 25px;
    font-weight: 600;
}

.div_div_div_tarifas{
    /* background: red; */
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.h3_tarifas{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}


@media(max-width: 700px){
    .div_tarifas{
        flex-direction: column;
    }
    .div_h1_tarifas{
    margin: 0 auto 60px auto;
}
}

@media(max-width: 1000px){
    .section_tarifas{
        padding-top: 120px;
    }

}

@media(max-width: 500px){
.h1_tarifas{
    font-size: 20px;
}.h2_tarifas{
    font-size: 20px;
}
.h3_tarifas{
    font-size: 17px;
}
}