*{
	margin: 0;
	padding: 0;
}

body{
	min-height: 100vh;
	font-family: Barlow, sans-serif;
}


/* Navbar horizontal */
.horizontal_navbar{
	background-color: #181818;
	display: flex;
	justify-content: space-between;
	align-items: center;
    box-shadow: 0 0 10px black;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 998;


            /* display: none; */
}

.horizontal_imagen_logo_club{
    width: 140px;
    margin-right: 20px;
	padding: 10px 20px;
    cursor: pointer;
}


.horizontal_ul{
    display: flex;
    /* gap: 1rem; */
}

.horizontal_li{
    height: 50px;
    list-style: none;
}

.horizontal_href{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
    cursor: pointer;
    
}

.horizontal_href:hover{
    color: #ff4b4f;
    transition: 0.3s;
}

.horizontal_href_reservar{
    background: #cb2c30;
    border-radius: 7px;
    text-shadow: 0 0 5px black;
}



.horizontal_href_reservar:hover{
    background: #a1191e;
    transition: 0.3s;
    box-shadow: 0 0 5px #ff4b4f;
    color: white;
    transition: none;
}

.horizontal_href_mis_reservas{
    background: #004dce;
    border-radius: 7px;
    text-shadow: 0 0 5px black;
    padding: 0 10px;
    margin-right: 15px;
}

.horizontal_href_mis_reservas:hover{
    background: #003da6;
    transition: 0.3s;
    box-shadow: 0 0 5px #0055e8;
    color: white;
    transition: none;
}

.horizontal_icono_abrir_menu:hover{
    fill: #ff4b4f;
    transition: 0.3s;
}

.horizontal_icono_abrir_menu{
    display: none;
}



/* Navbar vertical */
.vertical_navbar{
	background-color: rgba(24, 24, 24, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px black;
    position: fixed;
    top: 0;
    right: 0;
    height: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
}

.vertical_ul{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.vertical_li{
    width: 100%;
    height: 50px;
    list-style: none;
}


.vertical_href{
    width: 100%;
    height: 100%;
    padding: 0 0 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    /* font-weight: bold; */
    
    font-weight: 500;
    cursor: pointer;
    
}

.vertical_href:hover{
    color: #ff4b4f;
    transition: 0.3s;
}

/* .vertical_href_reservar{
    background: #cb2c30;
    text-shadow: 0 0 5px black;
}

.vertical_href_reservar:hover{
    background: #a1191e;
    transition: 0.3s;
    box-shadow: 0 0 5px #ff4b4f;
    color: white;
    transition: none;
} */


.vertical_icono_cerrar_menu:hover{
    fill: #ff4b4f;
    transition: 0.3s;
}



/* Botón cerrar sesión */
.cerrar_sesion_aviso{

    background-color: rgba(24, 24, 24, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
    color: white;

}

.cerrar_sesion_h3{
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.cerrar_sesion_h2{
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.cerrar_sesion_div_botones{
    display: flex;
    gap: 30px;
}

.cerrar_sesion_boton {
    margin-top: 30px;
  height: 70px;
  width: 220px;
    background-color: #cb2c30;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-shadow: 0 0 5px black;
}

.cerrar_sesion_boton:hover {
  background-color: #a1191e;
}

#cerrar_sesion_boton_cancelar{
  background-color: rgb(110, 110, 110);
}

#cerrar_sesion_boton_cancelar:hover{
  background-color: rgb(82, 82, 82);
}





/* Overlay Mis reservas */
.lista_reservas_overlay{
    background-color: rgba(24, 24, 24, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
    color: white;
}

.lista_reservas_contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.lista_reservas_h2{
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.lista_reservas_lista{
    font-size: 1.5em;
    margin-bottom: 30px;
    list-style: none;
}

.lista_reservas_boton {
    margin-bottom: 30px;
    height: 70px;
    width: 220px;
    background-color: rgb(110, 110, 110);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-shadow: 0 0 5px black;
}

.lista_reservas_boton:hover {
  background-color: rgb(82, 82, 82);
}

#lista_reservas_boton_cancelar{
    background-color: #cb2c30;
    height: 50px;
    width: 140px;
    margin-left: 20px;
}

#lista_reservas_boton_cancelar:hover {
  background-color: #a1191e;
}



.active_nav {
    color: #ff4b4f !important;
}

.active_nav_reservar {
    background: #a1191e;
    box-shadow: 0 0 5px #ff4b4f;
}

.nav_icon_pelota {
    width: 18px;
    height: 18px;
    margin-top: 3px;
    position: relative;
}

.cerrar_sesion_contenido {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Diseño responsive móviles */

@media(max-width: 1100px){
    .hideOnMobile{
        display: none;
    }
    .horizontal_icono_abrir_menu{
        display: block;
    }
    .horizontal_imagen_logo_club{
        width: 100px;
        margin-right: 10px;
    }
    .horizontal_li{
    height: 40px;
    }
    .horizontal_href{
    padding: 0 20px;
    }
}


@media(max-width: 700px){


.lista_reservas_h2{
  font-size: 2rem;
}

.lista_reservas_lista{
    font-size: 1.2em;
}

.lista_reservas_boton {
    height: 50px;
    width: 150px;
    font-size: 16px;
}

#lista_reservas_boton_cancelar{
    height: 35px;
    width: 110px;
    margin-left: 10px;
}

.lista_reservas_hide_mobile{
display: none;
}

}



@media(max-width: 600px){
    .cerrar_sesion_h3{
    font-size: 1.2em;
    }

    .cerrar_sesion_h2{
    font-size: 1.8rem;
    }

    .cerrar_sesion_boton {
        width: 150px;
        height: 50px;
        font-size: 16px;
    }
}



@media(max-width: 500px){
    .vertical_navbar{
        width: 100%;
    }
}

