*{
	margin: 0;
	padding: 0;
}

body{
	min-height: 100vh;
	font-family: Barlow, sans-serif;
}


/* Navbar horizontal */
.horizontal_navbar{
	background-color: #181818;
	display: flex;
	justify-content: space-between;
	align-items: center;
    box-shadow: 0 0 10px black;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 998;


            /* display: none; */
}

.horizontal_imagen_logo_club{
    width: 140px;
    margin-right: 20px;
	padding: 10px 20px;
    cursor: pointer;
}


.horizontal_ul{
    display: flex;
    /* gap: 1rem; */
}

.horizontal_li{
    height: 50px;
    list-style: none;
}

.horizontal_href{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
    cursor: pointer;
    
}

.horizontal_href:hover{
    color: #ff4b4f;
    transition: 0.3s;
}

.horizontal_href_reservar{
    background: #cb2c30;
    border-radius: 7px;
    text-shadow: 0 0 5px black;
}

.horizontal_href_reservar:hover{
    background: #a1191e;
    transition: 0.3s;
    box-shadow: 0 0 5px #ff4b4f;
    color: white;
    transition: none;
}

.horizontal_icono_abrir_menu:hover{
    fill: #ff4b4f;
    transition: 0.3s;
}

.horizontal_icono_abrir_menu{
    display: none;
}



/* Navbar vertical */
.vertical_navbar{
	background-color: rgba(24, 24, 24, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px black;
    position: fixed;
    top: 0;
    right: 0;
    height: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
}

.vertical_ul{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.vertical_li{
    width: 100%;
    height: 50px;
    list-style: none;
}


.vertical_href{
    width: 100%;
    height: 100%;
    padding: 0 0 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    /* font-weight: bold; */
    
    font-weight: 500;
    cursor: pointer;
    
}

.vertical_href:hover{
    color: #ff4b4f;
    transition: 0.3s;
}

/* .vertical_href_reservar{
    background: #cb2c30;
    text-shadow: 0 0 5px black;
}

.vertical_href_reservar:hover{
    background: #a1191e;
    transition: 0.3s;
    box-shadow: 0 0 5px #ff4b4f;
    color: white;
    transition: none;
} */


.vertical_icono_cerrar_menu:hover{
    fill: #ff4b4f;
    transition: 0.3s;
}



/* Bot칩n cerrar sesi칩n */
.cerrar_sesion_aviso{

    background-color: rgba(24, 24, 24, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;

    display: none;

}

.cerrar_sesion_h2{
    margin-bottom: 35px;
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.cerrar_sesion_div_botones{
    display: flex;
    gap: 40px;
}

.cerrar_sesion_boton {
    height: 50px;
    width: 150px;
    padding: 10px 20px;
    background-color: #cb2c30;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-shadow: 0 0 5px black;
}

.cerrar_sesion_boton:hover {
  background-color: #a1191e;
}



/* Dise침o responsive m칩viles */

@media(max-width: 1000px){
    .hideOnMobile{
        display: none;
    }
    .horizontal_icono_abrir_menu{
        display: block;
    }
    .horizontal_imagen_logo_club{
        width: 100px;
        margin-right: 10px;
    }
    .horizontal_li{
    height: 40px;
    }
    .horizontal_href{
    padding: 0 20px;
    }
}

@media(max-width: 500px){
    .vertical_navbar{
        width: 100%;
    }
}