*{
	margin: 0;
	padding: 0;
}

.section_footer{
    background: #001a29;
    width: 100%;
}

.div_footer{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 30px 20px 40px 20px;
    gap: 20px;
    color: white;
}

.div_div_footer{
    flex: 1;
    /* background: lightcoral; */
    /* display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; */
}

.div_div_footer_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    gap: 20px;
    margin-right: 100px;
}

.logo_footer{
    width: 160px;
}

.ul_footer{
    margin: 20px 0 0 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 17px;
}

.instagram_footer{
    margin-top: 10px;
    width: 40px;
}

.li_footer{
    cursor: pointer;
}

@media (max-width: 800px) {

	.div_footer {
		flex-direction: column;
        gap: 40px;
	}
    .div_div_footer_1 {
        margin-right: 0;
        font-size: 14px;
    }
    .ul_footer{
    font-size: 14px;
    }  
    .h2_footer{
        font-size: 20px;
    }
    
}