.admin_section_reservar_pista {
  margin: 20px 30px;
  font-family: 'Barlow', sans-serif;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 5px black;
  font-size: 1.3rem;
}

.admin_div_calendario_pistas {
  border: 1px solid white;
  overflow: hidden;
  width: 1000px;
  background: #003b5c;
}

.admin_div_calendario_body {
  display: grid;
  grid-template-columns: 80px repeat(6, 1fr);
  grid-auto-rows: 30px;
  overflow-y: auto;
  position: relative;
}

.admin_div_reserva_bloque {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 2px;
  color: white;
  position: relative;
  z-index: 10;
  cursor: default;
}

.admin_div_reserva_bloque.libre {
  background-color: #039c03;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.admin_div_reserva_bloque.libre:hover {
  background-color: #0e7f0e;
}

.admin_div_reserva_bloque.cerrado {
  background-color: #666666;
}

.admin_div_reserva_bloque.ocupada {
  background-color: #cb2c30; /* rojo del header */
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.admin_div_reserva_bloque.ocupada:hover {
  background-color: #a1191e;
}


.admin_div_reserva_bloque.clase {
  background-color: #2ca4ee;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.admin_div_reserva_bloque.clase:hover {
  background-color: #1d85c5;
}

#admin_reserva_boton_confirmar:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.admin_elegir_usuario{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.admin_elegir_usuario_select{
  font-size: 22px;
  width: 800px;
  padding: 12px;
}


/* Funciones */

.admin_seccion_funciones{
  margin: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.admin_seccion_funciones_boton{
  background: #cb2c30;
  border-radius: 7px;
  width: 450px;
  height: 70px;
  font-size: 24px;
  border: none;
  color: white;
  cursor: pointer;
}

.admin_seccion_funciones_boton:hover{
    background: #a1191e;
    transition: 0.3s;
    box-shadow: 0 0 5px #ff4b4f;
    transition: none;
}

#admin_elegir_usuario_select_ultimo{
  margin-bottom: 30px;
}

